

.equipes {
  display: inline-block;
  align-content: center;
  margin-left: 650px;
  list-style: none;
  width: 700px;
}

.first {
  margin-left: auto;
  margin-right: auto;
}

.second {
  display: inline-block;
}

.third {
  display: inline-block;
}

h3 {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

.premiacao ul li {
  display: inline;
}